.restaurant {
    background-image: linear-gradient(to right top, #3c4249, #3a4548, #3c4746, #414843, #474942);
    padding:2rem;
    color: white;
    transition: 0.5s all;
    margin-top: 83.5px;
}

.links {
    background-image: linear-gradient(to right top, #cd8208, #ca8009, #c77e0b, #c57d0c, #c27b0d);
    border-radius: 5px 0 0 5px;
    padding: 8px;
    box-shadow: 0px 0px 8px -1px rgba(92,74,92,1);
}

.links li {
    padding: 14px 10px;
    border-radius: 4px;
    transition: all 0.3s;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.LiActive {
    background-color: #051937;
    cursor: pointer;
    box-shadow: 0px 0px 8px -1px rgba(92,74,92,1);
}

.links li:hover {
    background-color: #051937;
    cursor: pointer;
    box-shadow: 0px 0px 8px -1px rgba(92,74,92,1);
}

.content {
    background-color: white;
    box-shadow: 0px 0px 8px -1px rgba(184,173,184,1);
    border-radius: 0 5px 5px 0;
    color: #051937;
   
    overflow-y:auto;
    height:500px;
    /* position: relative;
    left: 31.9%; */
}



/* profile */

.ppic {
    height: 220px;
    width: 100%;
    cursor: pointer;
    box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.75);
}

.ppic input {
    margin-top: 100px;
}

.ppic img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
}

.ppic .imgDes {
    position: relative;
    visibility: hidden;
    top: -98%;
    left: 35%;
    background-color: lightgray;
    color: black;
    width: 140px;
    text-align: center;
    padding: 5px;
    border-radius: 2px;
}

.ppic:hover .imgDes {
    visibility: visible;
}

.ppic img:hover {
    opacity: 0.8;
}

.des {
    margin-top: 20px;
    font-weight: 500;
}

.input {
    display: flex;
}

.input img {
    width: 20px;
    height: 20px;
    margin: 8px 0 0 5px;
    cursor: pointer;
}

.toolTip {
    opacity: 0;
    margin-top: 5px;
    background-color: black;
    color: white;
    line-height: 1px;
    left: 12px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    height: 12px;
    position: relative;
    cursor: pointer;
}

.toolTip::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 0;
    left: -52%;
    top: 0;
    opacity: 1;
    border: 10px solid transparent;
    border-right: 14px solid black;
}

.input .editDiv {
    display: flex;
}

.input .editDiv:hover .toolTip {
    opacity: 1;
}

/* profile */




/* Add Items */

.catIt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catIt h5 {
    margin-bottom: 0;
}

/* Add items */



/* Gallery */ 

.gallery {
    display: inline-block;
}

.gallery div {
    display: inherit;
    
        
    padding: 0;
}

.gallery img {
    height: 220px;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0px -1px 9px 0px rgba(0,0,0,0.10);
    cursor: pointer;
}

.gallery .galDel {
    position: absolute;
    visibility: hidden;
    
    top: 0px;
    right:1%;
}

.gallery div:hover {
    opacity: 0.8;
}

.gallery div:hover .galDel{
    visibility: visible;
}

/* Gallery */