.buttons {
    margin: 30px 0 45px 0;
}

.buttons button {
    padding: 8px 2px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.7px;
    outline: none;
    border: none;
    background: transparent !important;
}

.buttons button:hover {
    border-bottom: 2px solid green;
}