.example-enter {
  transform: translate3d(0, -10px, 0);
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
  transition: all 0.3s;
}
