.entry {
  position: relative;
  top: 83.5px;
}

.example-enter {
  opacity: 0;
  transform: translateY(10px);
  position: absolute;
  top: 42%;
  left: 88px;
  margin: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.3s;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s;
}

.text {
  /* background-color: #537495; */
  background-image: linear-gradient(
    to left bottom,
    #ede021,
    #efcb0b,
    #efb700,
    #eda200,
    #e98e01
  );
  color: white;
  text-align: left;
}

.text,
.homepic {
  height: 460px;
}

.text {
  padding-top: 13%;
  padding-left: 89px;
}

.text h2 {
  font-weight: 700;
  letter-spacing: 0.45px;
}

.text h6 {
  margin-top: 13px;
}

@media (max-width: 599px) {
  .entry {
    top: 153px;
  }
  .homepic {
    display: none;
  }
  .text h2 {
    font-size: 2.7rem;
  }
  .text h6 {
    margin-top: 154px;
    font-size: 18px;
  }
}

/* Feautures */

.feature {
  margin-top: 91.2px;
  color: black;
  padding: 80px;
  text-align: center;
  background: whitesmoke;
}

.feature img {
  height: 65%;
  width: 51%;
  padding: 20px;
  margin-top: 10px;
  border-radius: 4px;
}

.feature p {
  font-size: 15px;
  width: 260px;
  margin-top: 10px;
  /* color: #e0cbc1; */
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

/* Features */
