.footer {
  background-image: linear-gradient(
    to right top,
    #2e3032,
    #2f3133,
    #2f3235,
    #303336,
    #303437
  );
  text-align: left;
  padding: 6%;
  color: white;
}

.footer h4 {
  font-weight: 700;
  font-size: 26px;
}

.fcol ul {
  padding: 12px 0 0;
}

.fcol ul li {
  padding: 10px 0;
  font-size: 16px;
  border-bottom: 1px solid #3f3f3e;
  cursor: pointer;
}

.fcol ul li:hover {
  color: #fed893;
}
