.business {
  margin-top: 83.5px;
  padding-bottom: 20px;
  background-color: rgb(251, 247, 247);
}

.shops {
  text-align: center;

  position: sticky;
  top: 85px;
  z-index: 1;
  background-image: linear-gradient(
    to right top,
    #b75314,
    #bd6010,
    #c26d0c,
    #c67b08,
    #c98807
  );
}

.shops ul {
  float: right;
  width: 220px;
  padding: 40px 0;
  border-radius: 0 0 4px 4px;
  background-image: linear-gradient(
    to right top,
    #b75314,
    #bd6010,
    #c26d0c,
    #c67b08,
    #c98807
  );
}

.shops ul li {
  padding: 12px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.5px;
  margin-bottom: 8px;
}

.BLiActive {
  background-color: #051937 !important;
  cursor: pointer;
  box-shadow: 0px 0px 8px -1px rgba(92, 74, 92, 1);
}

.shops ul li:hover {
  background-color: #051937;
  cursor: pointer;
  box-shadow: 0px 0px 8px -1px rgba(92, 74, 92, 1);
}

.Card {
  cursor: pointer;
}

.Card:hover {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(173, 163, 173, 1);
  -moz-box-shadow: 0px 0px 6px 0px rgba(173, 163, 173, 1);
  box-shadow: 0px 0px 6px 0px rgba(173, 163, 173, 1);
}

.cardImg {
  height: 200px;
  object-fit: 'cover';
}
.dish img {
  height: 150px !important;
}
.cardBody {
  padding: 8px 8px 8px 12px;
}

/* Shimmering */

.shimmer {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholderShimmer;
  animation-timing-function: linear;
}

@keyframes placeholderShimmer {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

/* Shimmering */

/* Shop Details */

.rating i {
  color: orange;
  font-size: 14px;
}
.banner {
  position: sticky;
  top: 80px;
  padding: 10px;
  background-color: #fbf7f7;
  z-index: 1;
  width: 90%;
}
.overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  background-color: rgba(50, 50, 50, 0.5);
  height: 215px;

  right: 0;
}
.bannerRating {
  position: absolute;
  bottom: 20px;
  height: 20px;
  right: 10px;
  color: gold !important;
}
.bannerHeading {
  position: absolute;
  bottom: 0px;
  color: white;
}

.borderli {
  border-right: 3px solid red !important;
}

.category li {
  border: none;
  width: 80%;
  padding: 2px !important;
  height: 25px;
}

@media (min-width: 992px) {
  .category {
    position: sticky !important;

    top: 49%;
    height: 300px;
  }
}
.blockDesign li {
  border-right: 1px solid darkgray;
  height: 50px;
  font-size: 15px;
  width: 110px;
  margin-left: 10px;
}
.blockDesign li:last-child {
  border: none;
}
.blockDesign li:first-child {
  margin-left: 0;
}
.blockDesign p {
  font-size: 12px;
  line-height: 2rem;
  color: lightgrey;
}
.bgBanner {
  background-color: #171a29;
  margin-top: 80px;
  height: 1025px;
}
.spacer {
  z-index: -1;
  position: absolute;
  bottom: -31px;
}
