html {
  /* font-size: 62.5%; */
  box-sizing: border-box;
  line-height: 1.15;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
  font-family: 'Catamaran', sans-serif;
  background-color: #ffffff;
}

ul,
li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

* {
  outline: none;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
form,
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:link, a:visited, a:active {
  text-decoration: none;
  color: black;
}

/* @media only screen and (max-width: 97em) {
  html {
    font-size: 60%;
  }
} */
@media only screen and (max-width: 80em) {
  html {
    font-size: 57.5%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 55%;
  }
}
